<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top" id="navbar-head">
  <a class="navbar-brand navbar-content" [routerLink]="['/welcome']" [innerHTML]="appName"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item " *ngFor="let item of navItems">
        <a class="nav-link navbar-content" [routerLink]="[item.href]" [routerLinkActive]="['active']">{{item.label}}</a>
      </li>
    </ul>
    <db-cart-menu></db-cart-menu>
  </div>
</nav>